Repository oss-slu/lrda_mobile, pull requests merged in 2023-11, with the labels that each got.

#94 (WIP 93)Test Case of Time function
  .github/workflows/Native.yml
  __tests__/AddTagg.test.tsx
  __tests__/SetTime.test.tsx
  __tests__/__snapshots__/AddTagg.test.tsx.snap
  __tests__/__snapshots__/SetTime.test.tsx.snap
  lib/components/tagging.tsx
Labels: Test Cases

#96 Tests for the addnotescreen rich editor
  __tests__/AddNoteRichEditor.test.tsx
  lib/screens/AddNoteScreen.tsx
Labels: Test Cases

#103 (WIS99) StillProblemTimepicker
  lib/components/time.tsx
Labels: bug

#104 ReadOnly changes for editNoteScreen
  lib/screens/EditNoteScreen.tsx
Labels: enhancement
